</div><!-- /.container -->
<footer class="navbar navbar-light bg-light mt-5" id="footer">
  <div class="container">
    <span class="navbar-text">
      Created by <a href="https://www.rohangautam.com.np" target="_blank">Rohan Gautam</a>
    </span>
    <span class="navbar-text float-right">View this project on <a href="https://github.com/RohanRajGautam/YelpCamp/"
        target="_blank">my
        Github</a>
    </span>

  </div>
</footer>

</body>

</html>