<%- include ('partials/header') %>

<div class="container">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-4">Welcome to YelpCamp</h1>
      <p class="lead">A final project for the Web Developer Bootcamp.</p>
      <a class="btn btn-success btn-lg float-right" href="/campgrounds">Go to CampGround</a>
    </div>
  </div>
</div>


<%- include ('partials/footer') %>