<h1>Register User</h1>

<form action="/register" method="post">
  <input type="text" name="username" placeholder="Username">
  <input type="password" name="password" placeholder="Password">
  <button>Sign Up</button>
</form>